.main {
  height: 100vh;
}

.main__wrapper {
  display: flex;
  align-items: center;
  column-gap: 32rem;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .main__wrapper {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }
}
